In [1]:
import pandas as pd
import numpy as np
import matplotlib
matplotlib.use('PS') 
import matplotlib.pyplot as plt
import time
import datetime
import filterbyip as fbi
import Cdf
import Pmf

In [2]:
quic = pd.read_csv('./data/pi-1/strace/quic_strace.csv',',')
tcp = pd.read_csv('./data/pi-1/strace/tcp_strace.csv',',')

In [3]:
quic.head()

   Unnamed: 0  %time   seconds  usecs/call  calls     syscall
0           0  76.89  1.949677          24  80800     recvmsg
1           1  17.33  0.439416         201   2191  epoll_wait
2           2   4.79  0.121456          57   2141     sendmsg
3           3   0.22  0.005475          57     96         brk
4           4   0.18  0.004439        2220      2        poll

In [4]:
quic.tail()

    Unnamed: 0  %time   seconds  usecs/call  calls          syscall
40          40    0.0  0.000039          39      1   rt_sigprocmask
41          41    0.0  0.000039          39      1  set_tid_address
42          42    0.0  0.000039          39      1          set_tls
43          43    0.0  0.000036          36      1  set_robust_list
44          44    0.0  0.000025          25      1          _llseek

In [5]:
tcp.head()

   Unnamed: 0  %time   seconds  usecs/call  calls       syscall
0           0  34.01  1.534979          29  52575          read
1           1  33.11  1.494367          33  45403          poll
2           2  32.72  1.476526          22  68123  rt_sigaction
3           3   0.02  0.001006          53     19         mmap2
4           4   0.02  0.000853          50     17      mprotect

In [6]:
tcp.tail()

    Unnamed: 0  %time   seconds  usecs/call  calls          syscall
27          27    0.0  0.000038          38      1  set_tid_address
28          28    0.0  0.000037          37      1      getsockname
29          29    0.0  0.000037          37      1  set_robust_list
30          30    0.0  0.000037          37      1          set_tls
31          31    0.0  0.000023          23      1          _llseek

In [7]:
sum_row = {col: quic[col].sum() for col in ['%time','seconds','calls']}
print(sum_row)

{'%time': 99.98000000000002, 'seconds': 2.535678999999999, 'calls': 85549}

In [8]:
sum_row = {col: tcp[col].sum() for col in ['%time','seconds','calls']}
print(sum_row)

{'%time': 99.97000000000003, 'seconds': 4.513160000000002, 'calls': 166244}